{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Sherpa Sewa Kendra
      {% endblock %}
    </title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}

    <link rel="icon" type="image/jpg" href="{% static 'img/logo.jpg' %}" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">

  
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
	</head>

  <style>
    body {
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
    }
    @media screen and (max-width: 1230px) {
      .nav_header,
      .btn_login {
        display: none;
      }
    }
  </style>

  <body>
    <nav class="w-full top-0 z-30 bg-gradient-to-r from-indigo-700 to-violet-500 shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-2 h-[70px] flex items-center justify-between">
        <!-- Logo -->

        <a href="{% url 'index' %}"><img class="h-9" src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/dummyLogo/dummyLogoWhite.svg" alt="Logo" /></a>

    <ul class="text-white md:flex hidden items-center gap-3 nav_header">
     <li><a class="hover:text-white/70 transition" href="{% url 'index' %}">Home</a></li>

          <li>
            <a class="hover:text-white/70 transition" href="{% url 'documents' %}">Document</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="#">Status</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="#">Work Progress</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="#">Site Progress</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="{% url 'news' %}">News</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="#">Organization</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="#">Project Info</a>
          </li>
          <li>
            <a class="hover:text-white/70 transition" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>

        <!-- Login Button (Desktop) -->

        <a href="{% url 'login' %}" class="bg-orange-500 text-white hidden md:inline text-sm hover:opacity-90 active:scale-95 transition-all py-2 px-4 rounded-md">Login</a>


<div class="text-[1rem]">
			  <h2 class="text-white">Designed By :</h2>
			  <h2 class="text-yellow-600" >GorkhaSoft Pvt.Ltd</h2>
			  <h2 class="text-white">Email: softgorkha@gmail.com</h2>
			</div> 

        <button aria-label="menu-btn" type="button" class="menu-btn inline-block md:hidden active:scale-90 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="#fff">
            <path d="M3 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2zm0 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2zm0 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2z" />
          </svg>
        </button>

        <div class="mobile-menu absolute top-[70px] left-0 w-full bg-gradient-to-r from-indigo-700 to-violet-500 p-6 hidden md:hidden">
          <ul class="flex flex-col space-y-4 py-4 text-white text-lg">
            <li>
              <a class="text-sm" href="{% url 'index' %}">Home</a>
            </li>
            <li>
              <a class="text-sm" href="{% url 'documents' %}">Document</a>
            </li>
            <li>
              <a class="text-sm" href="#">Status</a>
            </li>
            <li>
              <a class="text-sm" href="#">Work Progress</a>
            </li>
            <li>
              <a class="text-sm" href="#">Site Progress</a>
            </li>
            <li>
              <a class="text-sm" href="{% url 'news' %}">News</a>
            </li>
            <li>
              <a class="text-sm"  href="{% url 'gallery' %}" >Gallery</a>
          </li>
          <li>
            <a class="text-sm" href="{% url 'organization' %}">Organization</a>
            </li>
            <li>
              <a class="text-sm" href="#">Project Info</a>
            </li>
            <li>
              <a class="text-sm" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
          <a href="{% url 'login' %}" class="bg-orange-500 text-white inline md:hidden text-sm hover:opacity-90 active:scale-95 transition-all p-2 rounded-md cursor-pointer">Login</a>
        </div>
      </div>
    </nav>

    <div class="idea" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out">
      {% block content %}

      {% endblock %}
    </div>

    <footer class="px-10 pt-8 w-full text-gray-500">
      <div class="flex flex-col md:flex-row justify-between w-full gap-10 border-b border-gray-500/30 pb-6">
        <div class="md:max-w-96">
          <img class="h-9" src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/dummyLogo/dummyLogoDark.svg" alt="dummyLogoDark" />
          <p class="mt-6 text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="flex-1 flex items-start md:justify-end gap-20">
          <div>
            <h2 class="font-semibold mb-5 text-gray-800">Company</h2>
            <ul class="text-sm space-y-2">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>
          <div>
            <h2 class="font-semibold mb-5 text-gray-800">Get in touch</h2>
            <div class="text-sm space-y-2">
              <p>+1-212-456-7890</p>
              <p>contact@example.com</p>
            </div>
          </div>
        </div>
      </div>
      <p class="pt-4 text-center text-xs md:text-sm pb-5">Copyright 2024 © Company name. All Right Reserved.</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>
