{% extends "base.html" %}

{% block content %}
<div class="bg-[url('https://t4.ftcdn.net/jpg/09/51/61/57/360_F_951615734_Hl4NNfyTDcWOWkAlH4Pz8s0BcrlEzdow.jpg')] h-screen bg-cover bg-center text-white">

    <!-- Background overlay for better readability -->
    <div class="h-full w-full flex items-center">
        <div class="container mx-auto px-6">
            <h2 class="text-4xl font-bold mb-2">Gorkha Flow (4.06 MW)</h2>
            <h3 class="text-xl font-semibold mb-4">Developed by: Gorkha Flow Ltd</h3>

            <h3 class="text-xl font-semibold mb-2">GorkhaFlow Hydropower Project</h3>
            <p class="text-[12px] leading-relaxed max-w-2xl">
                GorkhaFlow Hydropower Project is a cascade-type hydropower project that utilizes water from the outlet of the Upper Chirkhwa Hydropower Project. Located in Sadananda Municipality, Bhojpur District, Province 1, this project efficiently harnesses water resources for power generation.
            </p>
        </div>
    </div>

</div>
{% endblock %}
