{% extends 'base.html' %}

{% block title %}
  {{ news_item.title }} 
{% endblock %}

{% block content %}
  <section class="bg-white py-20">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
      <!-- Back Button -->
      <div class="my-6">
        <a href="{% url 'news' %}" class="text-indigo-600 hover:underline font-medium">&larr; Back to News</a>
      </div>

      <!-- News Image -->
      <div class="my-8">
        <img class="rounded-lg w-full h-96 object-cover" src="{{ news_item.image.url }}" alt="{{ news_item.title }}" />
      </div>

      <!-- News Info -->
      <div class="mb-4 flex justify-between items-center">
        <h1 class="text-3xl font-bold text-gray-900">{{ news_item.title }}</h1>
        <p class="text-sm text-gray-500 font-semibold">{{ news_item.published_date }}</p>
      </div>

      <!-- News Content -->
      <div class="text-gray-700 text-lg leading-8">{{ news_item.description|linebreaks }}</div>
    </div>
  </section>
{% endblock %}
